
HTML, BODY {
    font-size: 16px;
    line-height: 1.5;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    background-image: src(BACKGROUNDFORTHEGALLARY.png);
}

BODY {
    overflow-y: scroll;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

IMG {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.25s;
}

    IMG:nth-child(7n + 1) {
        grid-column: 2 / span 2;
    }

    IMG:hover {
        z-index: 2;
        transform: scale(2);
    }

/* Media query for screens smaller than 768px */

@media (max-width: 767px) {

    HTML, BODY {
        font-size: 14px;
    }

    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 1vmin;
    }

    IMG {
        grid-column: span 1;
        margin-bottom: -26%;
    }

        IMG:nth-child(7n + 1) {
            grid-column: 1 / span 2;
        }
}
